body {
    background-color: rebeccapurple;
    color: white;
}

h1 {
    text-align: center;
    border: 2px dotted green;
}

#responses {
    border: 1px solid lightgrey;
    padding: 1em;
}

a.btn {
    border: 1px solid darkgrey;
    background-color: lightgrey;
    color: black;
    padding: .3em .5em;
    border-radius: .2em;
    text-decoration: none;
    display: inline-block;
}